* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        font-family: 'Courier New', Courier, monospace;
        z-index: 2;
}

div h1 {
    background-color: whitesmoke;
    width: 45vw;
    opacity: 60%;
    display: inline-block;
    text-indent: 10px   ;
    margin-left: 1.5vw;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    color: Black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header {
    position: fixed;
    overflow: auto;
    width: 100vw;
    height: 8vw;
    background-color: gainsboro;
    box-shadow: 1px 5px 5px #5C5858; 
    z-index: 1; 
  }

body {
    background-color: #a3b68a;
    min-height: 100vh;
    align-self: center;
  }

a {
    box-shadow: inset 0 0 0 0 #a3b68a;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .25s ease-in-out, box-shadow .25s ease-in-out;
  }

th, td {
    border: 1px solid #a3b68a;
    background-color: whitesmoke;
    opacity: 60%;
    width: 100vh;
    text-align: center;
}

a:hover {
    box-shadow: inset 10rem 0 0 0 #504A4B;
    color: white;
  }

.active {
    text-decoration: underline;
    font-weight: bold;
  }

.navbar-list {
    margin-left: 10vw;
    margin-top: -4vw;
}

.navbar-link {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    list-style-type: none;
    float: left;
}

.footer {
    position: fixed;
    overflow: auto;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3vw;
    background-color: gainsboro;
    color: white;
    text-align: center;
    color: gainsboro;
    box-shadow: 5px 1px 5px 5px #5C5858;
  }

.home-paragraph {
    font-size: 0.9em;
    padding-top: 1vw;
    margin-left: 1.7em;
    width: 45vw;
    border-left: 1px solid #504A4B;
    padding-left: 0.7vw;
}

.home-img1 {
    width: 30vw;
    height: 11.3vw;
    margin-top: 10em;
    margin-right: 32vw;
    margin-left: 5vw;
    position: absolute;
}

.home-img2 {
    width: 30vw;
    height: 11.3vw;
    margin-top: 2em;
    margin-right: 32vw;
    margin-left: 5vw;
    position: absolute;
}

.profile-img {
    margin-top: 18vh;
    margin-left: 1.7em;
    height: 50vh;
    width: 50%;
    float: left;
    
    
}

.home-list {
    font-size: 0.9em;
    padding-top: 1vw;
    margin-left: 1.7em;
    width: 45vw;
    border-left: 1px solid #504A4B;
    padding-left: 0.7vw;
    list-style-position: inside;
    list-style-type:circle;
}

.profile-list {
    list-style-position: inside;
    list-style-type: circle;
    margin-top: 20vw;
}

.flex {
    display: flex;
}

.dashboard-table {
    padding-top: 11vw;
}

.bottom-paragraph {
    margin-bottom: 6vw;
}

.center {
    width: 50%;
    margin: auto;
}

.db-failed {
    text-decoration-style: wavy;
    text-decoration-line: underline;
    text-decoration-color: red;
    color: red;
}

.db-passed {
    text-decoration-color: green;
    color: green;
}

.db-pending {
    text-decoration-style:solid;
    text-decoration-line: underline;
    text-decoration-color: black;
}

.center-x-y {
    vertical-align: middle;
    text-align: center;
}

.progress-bar {
    text-align: center;
    border: 1px solid black;
    margin-top: 10vh;
    height: 2.5vh;
    width:  100vh;
    border-radius: 2px;
    background-color: whitesmoke;
    opacity: 60%;
}

.progress-bar > div {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-image: linear-gradient(to right, whitesmoke, black);
    background-size: 100%;
    transition: width 200ms;
}

#heading-logo {
    height: 6em;
    margin-top: 0.4em;
    margin-left: -0.7em;
}

#nav-bar {
    margin: none;
}
